h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol,
a,
body {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
* {
  box-sizing: border-box;
}
/* tabs css start */
.tabspart {
  padding: 40px 0;
}
.tabspart ul li {
  padding: 0 15px 10px;
  margin: 0 10px;
  color: #000;
  font-weight: 600;
  font-size: 18px;
  border-bottom: 1px solid #fff;
}
.tabspart ul li.active {
  position: relative;
  border-color: #000;
}
.tabspart {
  max-width: 850px;
  margin: auto;
}
.tabsabovepart {
  background: #ebecf0;
  padding-top: 14px;
}
.tabscontentpart {
  text-align: left;
  padding: 10px 20px;
  min-height: 100px;
  border: 1px solid #000;
  margin-top: 20px;
}
.active_content {
  display: block;
}
.content {
  display: none;
}
